@font-face {
    font-family: 'Arsenal';
    src: url('../assets/fonts/Arsenal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arsenal';
    src: url('../assets/fonts/Arsenal-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Arsenal';
    src: url('../assets/fonts/Arsenal-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Arsenal';
    src: url('../assets/fonts/Arsenal-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }